<h1><a href="/">Belle e Bruno</a></h1>

<nav>
  <ul>
    <% %w(Sobre Confirmação\ de\ Presença Cerimônia\ e\ Festa Informações Lista\ de\ Pesentes Fotos).each do |item| %>
      <li><%= link_to item, item.parameterize %></li>
    <% end %>
  </ul>
</nav>

<%= styled_flash %>

<%= yield %>
