<form action="confirm" method="post">
  <ol class="inputs">
    <li>
      <label for="name">Seu nome</label>
      <input type="text" name="name" id="name" />
    </li>

    <li>
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
    </li>

    <li>
      <select name="status">
        <option selected="selected" disabled="disabled">Você comparecerá?</option>
        <option value="1">Sim</option>
        <option value="2">Ainda não sei</option>
        <option value="0">Não poderei comparecer</option>
      </select>
    </li>

    <li>
      <label>Tem acompanhante(s)</label>
      <ol class="choices">
        <li>
          <input type="radio" name="guest" value="yes" id="guest-yes" />
          <label for="guest-yes">Sim</label>
        </li>
        <li>
          <input type="radio" name="guest" value="no" id="guest-no" />
          <label for="guest-no">Não</label>
        </li>
      </ol>
    </li>

    <li id="new-guest" class="guest">
      <label for="guest">Nome do acompanhante</label>
      <input type="text" name="guests[guest-name]" id="guest">

      <button id="add">+1 convidado</button>
    </li>
  </ul>

  <ul class="actions">
    <li>
      <button type="submit">Confirmar</button>
    </li>
  </ul>
</form>

<% content_for :javascripts do %>
  <script>
    $(function(){
      var $inputs = "input[type=text], input[type=email]";
      var $moreGuest = $("input[name=guest]");
      var $addGuest = $("button[id=add]");

      $(document).on("blur", $inputs, function() {
        var $input = $(this);
        $input.parent("li").removeClass("focus filled");

        if(!_.isEmpty($input.val())) {
          $input.parent("li").addClass("filled");
        }
      });

      $(document).on("focus", $inputs, function() {
        var $selector = $(this).parent("li");
        $selector.addClass("focus");
      });

      $moreGuest.on("click", function() {
        var value = $(this).val(),
            $newGuestBlock = $("#new-guest");

        if(value === "yes") {
          $newGuestBlock.show();
        } else {
          $newGuestBlock.hide();
        };
      });

      $addGuest.on("click", function(event) {
        event.preventDefault();
        var $guestsCount = $(".guest").length;

        if($guestsCount === 4) {
          alert("Número máximo de convidados atingido");
          return false;
        }

        var $lastField = $(".guest").last();
        var $field = $(this).parents("li");
        var $newField = $field.clone();
        var id = $newField.prop("id");
        var $newFieldLabel = $newField.find("label");

        $newField.find("button").remove();
        $newField.removeClass("filled");
        $newField.find("input").val("")
        $newField.prop("id", id + "-" + $guestsCount++);
        $newFieldLabel.prop("for", id + "-" + $guestsCount++);

        $lastField.after($newField);
      });
    });
  </script>
<% end %>
