<form action="confirm" method="post">
  <ol class="inputs">
    <li>
      <label for="name">Seu nome</label>
      <input type="text" name="name" id="name" />
    </li>

    <li>
      <label for="email">Email</label>
      <input type="email" name="email" id="email">
    </li>

    <li>
      <select name="status">
        <option selected="selected" disabled="disabled">Você comparecerá?</option>
        <option value="1">Sim</option>
        <option value="2">Ainda não sei</option>
        <option value="0">Não poderei comparecer</option>
      </select>
    </li>
  </ul>

  <ul class="actions">
    <li>
      <button type="submit">Enviar</button>
    </li>
  </ul>
</form>

<% content_for :javascripts do %>
  <script>
    $(function(){
      $("input").on("blur", function(){
        var $input = $(this);
        $input.parent("li").removeClass("focus filled");

        if(!_.isEmpty($input.val())) {
          $input.parent("li").addClass("filled");
        }
      });

      $("input").on("focus", function(){
        var $selector = $(this).parent("li");
        $selector.addClass("focus");
      });
    });
  </script>
<% end %>
