<h2>Lista de presentes</h2>

<ol>
  <li class="ponto-frio"><%= link_to "Ponto Frio", "http://www.pontofrio.com.br/Site/ListaGerenciadaLandingPage.aspx?idListaCompra=464328" %></li>
  <li class="camicado"><%= link_to "Camicado", "http://www.camicado.com.br/weddinglist/products/60283506" %></li>
</ol>
