<form action="indicate" method="post">
  <ol class="inputs">
    <li>
      <label for="name">Seu nome</label>
      <input type="text" name="name" id="name" />
    </li>

    <li>
      <label for="artist-name">Nome do artista</label>
      <input type="text" name="artist_name" id="artist-name">
    </li>

    <li>
      <label for="artist-song">Nome da música</label>
      <input type="text" name="artist_song" id="artist-song">
    </li>
  </ul>

  <ul class="actions">
    <li>
      <button type="submit">Enviar</button>
    </li>
  </ul>
</form>
