<figure>
  <%= image_tag "cerimonia-e-festa.png" %>
</figure>

<h2>O Local</h2>
<p>
  A cerimônia e a festa serão realizadas no espaço quintal.<br/><br/>
  Localizado em Higienópolis, um bairro de muita tradição em São Paulo e de fácil acesso a todos que se deslocam em nossa cidade, o Quintal fica naquele que foi o primeiro sobrado da Avenida Angélica, tendo sido construído no final do século XIX pelos imigrantes artesãos alemães Franz Hermsdorf e João Jorge Bittner.
</p>

<p>
  A proposta do  espaço é fugir da mesmice dos casamentos tradicionais, oferecendo cardápios despojados e possibilitando a realização de uma <strong>cerimônia ao ar</strong> livre cercada de árvores centenárias e fontes no melhor estilo europeu.
</p>

<h2>A Cerimônia</h2>

<p>
  O casamento, pra ser emocionante, precisa ter uma cerimônia especial.<br/>
  O que faz uma cerimônia ser especial? Enquanto a cerimônia é um instante criado para imprimir maior significado a uma passagem da vida, acreditamos que especial é aquilo que é singular, particular: único.<br/>
  Por isso, optamos por criar um momento que seja só nosso, algo diferente!
</p>

<h2>A Festa</h2>

<p>
  No melhor clima de boteco, com comidinhas e bebidas, nossa festa será animada por um DJ.<br/>
  Cada momento foi escolhido para que você se divirta junto com a gente.
</p>
