<figure>
  <%= image_tag "cerimonia-e-festa.png" %>
</figure>

<h2>O Local</h2>
<p>
  A cerimônia e a festa serão realizadas no espaço quintal.<br/><br/>
  Localizado em Higienópolis, um bairro de muita tradição em São Paulo e de fácil acesso a todos que se deslocam em nossa cidade, o Quintal fica naquele que foi o primeiro sobrado da Avenida Angélica, tendo sido construído no final do século XIX pelos imigrantes artesãos alemães Franz Hermsdorf e João Jorge Bittner.
</p>
