<figure>
  <%= image_tag "informacoes.png" %>
</figure>

<h2>Endereço</h2>

<p>
  <%= link_to "Avenida Angélica, 2435", "https://goo.gl/maps/5qTfYfSq8nA2" %>
</p>

<h2>Estacionamento</h2>

<p>
  <strong>Stilo Park</strong><br/>
  Av Angélica, 2440 (em frente ao Espaço Quintal)<br/>
  Valor: <strong>R$ 20,00</strong> pelo período do evento.
</p>

<h2>Taxi</h2>

<p>
  Venha curtir nosso casamento de táxi com a 99 <br/>
  Taxis e aproveite R$20 de desconto por nossa conta =)<br/>
  <small>(Maiores informações serão enviadas por e-mail!)</small>
</p>
