<figure>
  <%= image_tag "lista-de-presentes.png" %>
</figure>

<h2>Ponto Frio</h2>
<p>
  <%= link_to "Confira a Lista", "http://www.pontofrio.com.br/Site/ListaGerenciadaLandingPage.aspx?idListaCompra=464328", target: "_blank" %>
</p>

<hr/>

<h2>Camicado</h2>
<p>
  <%= link_to "Confira a Lista", "http://www.camicado.com.br/weddinglist/products/60283506", target: "_blank" %>
</p>
