%container-block
  +outer-container

body
  > header,
  > footer
    @extend %container-block
    +padding(30px null null)

    > nav
      @extend %container-block
      +padding(32px null null)
      +margin(null null 32px)

      ul
        +display(flex)
        +justify-content(space-between)

      li
        display: inline

      a
        color: $black
        text-decoration: none

    > h1
      text-align: center

  > main
    @extend %container-block
    position: relative

  > footer
    border-top: 1px solid $black
    text-align: center
    +padding(null null 40px)

time
  +padding(30px null null)

figure img
  width: 100%

#weeding-date
  +span-columns(6)
  float: none
  +margin(null auto)
  +padding(16px null null)

  &:last-child
    +margin(null auto null null)

  .time
    display: inline-block
    text-align: center
    +margin(null 50px null null)

    +media($mobile)
      +margin(null 20px null null)

    &:last-child
      +margin(null 0 null null)

  .label
    display: block

.location
  h2
    +padding(60px null null)
    text-align: center
    position: relative
    text-transform: uppercase
    z-index: 2

#map
  height: 446px
  +margin(-20px null null)
  z-index: 1

.alert
  background: #4A90E2
  border-radius: 5px
  color: white
  font:
    size: rem(25)
    family: $amatic
  +padding(10px null)
  position: absolute
  +size(100% auto)
  text-align: center

  .close
    color: white
    display: block
    font:
      family: $josefin
      size: rem(25)
    text-align: right
    text-decoration: none
    right: 10px
    top: 14px
    position: absolute
